<div style="background-color: #ffcec9; overflow-x: hidden;">
    <div style="text-align: left; margin-top: 8px; margin-left: 8px;">
      <a href="http://localhost:4200/home">Home</a> > <a href="http://localhost:4200/get-reminders">My Reminders</a> > <a href="{{getViewReminderURL()}}">View Reminder</a> > <u>Edit Reminder</u>
    </div>
    <br><br><br><br><br>
    <h2 style="font-weight: bold; text-align: center;">Edit Reminder</h2>
    <br><br>
  
      <div class="row justify-content-center">
  
            <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="inputTitle">Title</label>
                    <div style="width: 500px">
                        <input class="form-control" type="text" formControlName="title">
                    </div>
                  
                  <!-- error -->
                    <div class="error" style="color: red;" *ngIf="submitted && myForm.title.errors?.required">
                        Title is required
                    </div>
                </div>
    
                <div class="form-group">
                    <label for="inputDueDate">Due Date</label>
                    <input class="form-control" type="date" formControlName="dueDate">
                    <!-- error -->
                    <div class="error" style="color: red;" *ngIf="submitted && myForm.dueDate.errors?.required">
                      Due date is required
                    </div>
  
                </div>
    
    
                <div class="form-group">
                    <label for="inputDescription">Description</label>
                    <div style="width: 500px;">
                        <textarea class="form-control" name="description" rows="10" cols="30"  formControlName="description"></textarea>
                    </div>
                    <div class="error" style="color: red;" *ngIf="submitted && myForm.description.errors?.required">
                      Description is required
                    </div>
  
                </div>
    
                <br>
    
                <div class="form-group" style="text-align:center; padding-top: 30px; padding-bottom: 10px">
                  <button class="btn btn-dark btn-sm; saveButton" style="height: 50px; width:120px; padding: 0;" type="submit">Save</button>
                </div>
                <br>
            </form>
  
      </div>
  </div>
  