<div style="background-color:#ffcec9; overflow-x: hidden; height: 100vh; text-align: center;">
    <div style="text-align: left; margin-top: 8px; margin-left: 8px;">
        <a href="http://localhost:4200/home">Home</a> > <u>My Reminders</u>
    </div>
    <br><br><br><br><br>
    <h2 style="margin-left: 15px; font-weight: bold; ">My Reminders</h2>
    <br><br>


    <button class="btn btn-dark btn-sm; updateButton"
    style="height: 40px; width:220px; padding: 0; color: white; background-color: #fb4d3d; font-size: 20px; border: none;"
    (click)="addReminder()">
    Add Reminder</button>

    <br><br><br><br>

    <h4 style="margin-left: 15px; font-weight: bold; "><i>Ongoing</i></h4>
    <br><br><br>

    <div style="font-size: 15px;">
        <table style="margin-left: auto; margin-right: auto;  background-color: white">
            <tr>
                <th style="width: 10px; padding: 10px;">
                    Done
                </th>
                <th style="width: 520px;padding: 10px;">
                    TITLE
                </th>
                <th style="width: 200px;padding: 10px;">
                    DUE DATE
                </th>
            </tr>
            <tr *ngFor="let n of allNotDoneReminders; let i = index">
                <td style="width: 10px; padding-left: 10px;">
                    <input (change)="FieldsChange($event, n)" value="angular" type="checkbox"/>
                </td>
                <td style="width: 520px; padding-left: 10px;">
                    <p>{{n.title}}</p>
                </td>
                <td style="width: 200px; padding-left: 10px;">
                    <p>{{n.dueDate | date}}</p>
                </td>
                <td style="width: 100px;">
                    <p>
                        <button class="btn btn-dark btn-sm; updateButton"
                        style="height: 30px; width:80px; padding: 0; color: white; background-color: #345995; font-size: 15px; border: none;"
                        type="submit"
                        [routerLink]="['/view-reminder/', n._id]">
                        View</button>
                    </p>
                </td>
                <td style="width: 100px;">
                    <p>
                        <button class="btn btn-dark btn-sm; updateButton"
                        style="height: 30px; width:80px; padding: 0; color: white; background-color:red; font-size: 15px; border: none;"
                        type="submit"
                        [routerLink]="['/delete-reminder/', n._id]">
                        Delete</button>
                    </p>
                </td>
            </tr>
            
        </table>
        <br><br>
    </div>

    <br><br>
    <h4 style="margin-left: 15px; font-weight: bold; "><i>Done</i></h4>
    <br><br>
    <div style="font-size: 15px; color: gray;">
        <table style="margin-left: auto; margin-right: auto;  background-color: white">
            <tr>
                <th style="width: 10px; padding: 10px;">
                    Done
                </th>
                <th style="width: 520px;padding: 10px;">
                    TITLE
                </th>
                <th style="width: 200px;padding: 10px;">
                    DUE DATE
                </th>
            </tr>
            <tr *ngFor="let n of allDoneReminders; let i = index">
                <td style="width: 10px; padding-left: 10px;">
                    <input (change)="FieldsChange($event, n)" value="angular" type="checkbox" checked="true"/>
                </td>
                <td style="width: 520px; padding-left: 10px;">
                    <p>{{n.title}}</p>
                </td>
                <td style="width: 200px; padding-left: 10px;">
                    <p>{{n.dueDate | date}}</p>
                </td>
                <td style="width: 100px;">
                    <p>
                        <button class="btn btn-dark btn-sm; updateButton"
                        style="height: 30px; width:80px; padding: 0; color: white; background-color: #345995; font-size: 15px; border: none;"
                        type="submit"
                        [routerLink]="['/view-reminder/', n._id]">
                        View</button>
                    </p>
                </td>
                <td style="width: 100px;">
                    <p>
                        <button class="btn btn-dark btn-sm; updateButton"
                        style="height: 30px; width:80px; padding: 0; color: white; background-color:red; font-size: 15px; border: none;"
                        type="submit"
                        [routerLink]="['/delete-reminder/', n._id]">
                        Delete</button>
                    </p>
                </td>
            </tr>
            
        </table>
        <br><br>
    </div>
    
    <br><br>

    <button class="btn btn-dark btn-sm; updateButton"
    style="height: 35px; width: 100px; padding: 0; color: white; background-color: #6b0c53; font-size: 15px; border: none;"
    type="submit"
    (click)="goHome()">
    Home</button>
    <br><br><br>

</div>
